*~

typings/*
typings.json
.vscode/*
jsconfig.json
node_modules/*
npm-debug.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#mergetool
*.BASE*
*.LOCAL*
*.REMOTE*
*.BACKUP*

src/config/config.json
src/config/config.dev.json
src/config/config.prod.json
send/*
items.csv
filters.csv
tests.csv

.env
.env.example
.env.dev
.env.prod
coverage
.env.test
